.btn-voltar {
    width: 1.66%;
    height: 35.5%;
    position: absolute;
    top: 35.5%;
    left: 3.19%;
}

.logo-know {
    width: 7.42%;
    height: 87.5%;
    position: relative;
    top: 5.55%;
    left: 46.28%;
}

.txt-faca-uma-pergunta {
    position: relative;
    left: 8.76%;
}

.pergunta-container {
    width: 82.72%;
    height: 72.86%;
    margin-top: 5%;
    margin-left: 8.59%;
    background-color: #2575B1;
    border-radius: 14px;
    padding: 1.88% 0 1.88% 1.88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pergunta-titulo {
    width: 97.5%;
    height: 21.36%;
    resize: none;
    margin-bottom: 1%;
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
    font-size: 1.4em;
}

.pergunta-descricao {
    width: 97.5%;
    height: 130%;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    resize: none;
    font-size: 1.2em;
}

#btn-enviar {
    position: absolute;
    top: 95%;
    left: 84%;
    border-radius: 10px;
}

#filtros {
    margin-top: 3%;
    display: flex;
    gap: 21.5px;
}

.tags {
    background-color: #13568E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    cursor: pointer;
    transition: 300ms;
    font-weight: 600;
    margin-bottom: 10px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

#tags-selecionadas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: Poppins;
}

.tag {
    background-color: #225f8e;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    border: none;
}

.tag:hover {
    background-color: #eaeaea;
}

.tag button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
}


.tag-item {
    background-color: #225f8e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.remover-tag {
    cursor: pointer;
    font-size: 14px;
}

.remover-tag:hover {
    color: #ff4d4d;
}

