.btn-voltar {
    width: 1.66%;
    height: 35.5%;
    position: absolute;
    top: 35.5%;
    left: 3.19%;
}

.logo-know {
    width: 7.42%;
    height: 87.5%;
    position: relative;
    top: 5.55%;
    left: 46.28%;
}

.txt-faca-uma-pergunta {
    position: relative;
    left: 8.76%;
    
    text-wheight: 600;
}

.pergunta-container {
    width: 82.72%;
    height: 72.86%;
    margin-top: 5%;
    margin-left: 8.59%;
    background-color: #2575B1;
    border-radius: 14px;
    padding: 1.88% 0 1.88% 1.88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pergunta-titulo {
    width: 97.5%;
    height: 21.36%;
    resize: none;
    margin-bottom: 1%;
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
    font-size: 1.4em;
}

.pergunta-descricao {
    width: 97.5%;
    height: 100%;
    margin-bottom: 13%;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    resize: none;
    font-size: 1.2em;
}

#btn-enviar {
    position: absolute;
    top: 95%;
    left: 85%;
    border-radius: 10px;
}

#filtros {
    margin-top: 3%;
    display: flex;
    gap: 21.5px;
}

#filtros button {
    transform: none;
    gap: 10px;
}

.dropbtn {
    background: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
}

.dropdown-conteudo a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-conteudo a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.tags {
    background-color: #13568E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}


.img-close {
    width: 16px;
    height: 16px;
}

#tags-selecionadas {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-family: Poppins;
    
}


.tag {
    background-color: #225f8e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    
}

.tag button {
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 14px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    font-size: 12px;
    margin: 0 2px 3px 2px;
}

.tag button:hover {
    color: #ff4d4d;
}