
.btn-voltar {
    width: 1.66%;
    height: 35.5%;
    position: absolute;
    top: 35.5%;
    left: 3.19%;
}

.logo-know {
    width: 7.42%;
    height: 87.5%;
    position: absolute;
    top: 5.55%;
    left: 46.28%;
}

.txt-faca-uma-pergunta {
    position: absolute;
    left: 8.76%;
}

.pergunta-container {
    width: 82.72%;
    height: 72.86%;
    position: absolute;
    top: 13.81%;
    left: 8.59%;
    background-color: #2575B1;
    border-radius: 14px;
}

.area-pergunta {
    width: 96.52%;
    height: 81.36%;
    position: absolute;
    top: 5%;
    left: 1.88%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
}

#btn-enviar {
    position: absolute;
    top: 105%;
    left: 91%;
    border-radius: 10px;
}

#filtros {
    width: 20.31%;
    position: absolute;
    top: 88%;
    left: 2%;
    display: flex;
    gap: 21.5px;
}

#filtros button {
    transform: none;
    gap: 10px;
}